/* .abc {
    background-image: url("./glassesImage/background.jpg");
} */
.model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 20vh;
    flex-direction: row;
    padding: 15% 0%;
}
.opa {
    width: 100%;
    height: 35%;
    background-color: #E09159;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    left: 0;
}
.imgDesc {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.glassesTrial {
    position: absolute;
    top: 24%;
    left: 23%;
    opacity: 0.3;
    
}
.glassOnEye {
    width: 160px;
}
.name  {
    color: blue;
    text-transform: uppercase;
}
.desc {
    color: black;
}